- content_for :header do
	= haml :_common_header
- content_for :contents do
	%section.manual
		%h2 Let your friends know where you want to go:
		%p.message /nom go Rustico
		%img(src="/images/go.png")

		%h2 Your friends can join you...
		%p.message /nom go Rustico
		%img(src="/images/join.png")

		%h2 ...or show an interest in a different place.
		%p.message /nom go Rozinka
		%img(src="/images/different.png")

		%h2 When it's time to decide, look at the list.
		%h3 The list is saved as a pinned message, so you can quickly find it in the sidebar.
		%img(src="/images/pinned.png")

		%p.bottom_button
			= haml :slack_button
