- content_for :header do
	= haml :_common_header
- content_for :contents do
	%section
		%h1 Privacy Policy

		%h2 What information do we collect?
		%p We only collect information you voluntarily give us through regular usage of the app. We are the sole owners of that information and will not sell or rent that information to anyone.

		%h2 How do we use that information?
		%p That information may be used internally to improve our service. We may share your information with trusted service providers in order to improve our service, so long as those parties agree to keep the information confidential. However, the information will not be sold or rented to anyone.

		%h2 Do we use cookies?
		%p Yes. When using this site, we use cookies, which may be shared anonymously with third-party services to assist us in better understanding visitors of the site, in order to improve its functionality. These service providers are not permitted to use the information collected on our behalf except to help us conduct and improve our business.

		%h2 How do we protect your information?
		%p We take precautions to protect your information. When you submit information via the app, your information is protected both online and offline. We implement a variety of security measures to maintain the safety of your personal information.

		%h2 Do we disclose any information to outside parties?
		%p We do not sell or rent your information to anyone. We may, however, share your information with trusted service providers in order to improve our service, so long as those parties agree to keep the information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others rights, property, or safety.

		%h2 What about third party links?
		%p We may occasionaly include links to third parties on our site or in the app. These third party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.

		%h2 Your Consent
		%p By using our site or app, you consent to our privacy policy.

		%h2 Changes to our Privacy Policy
		%p If we decide to change our privacy policy, we will post those changes on this page. The last update was on February 23rd, 2016.

		%h2 Contacting Us
		%p
			We don't really do email. We much prefer you contact
			%a(href="https://twitter.com/giladgo") @giladgo
			directly on twitter if you have any questions regarding this privacy policy.
