* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #fff;
	font-family: 'Open Sans', Arial, sans-serif;
}

header {
	background-color: #457B9D;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	border-bottom: solid 1px #1D3557;
	color: #F1FAEE;
}

header h1 {
	font-size: 100px;
	margin: 35px 0;
}

@-webkit-keyframes food-anim {
	0% {
		opacity: 0;
		transform: translateX(100px);
	}

	11% {
		opacity: 1;
		transform: translateX(0px);
	}

	22% {
		opacity: 1;
		transform: translateX(0px);

	}

	33% {
		opacity: 0;
		transform: translateX(-100px);
	}

	100% {
		opacity: 0;
		transform: translateX(-100px);
	}
}

header h1 .food-items {
	width: 100px;
	position: relative;
	height: 138px;
	margin: 0 auto;
}

header h1 .food-item {
	margin: 0 10px;
	display: inline-block;
	width: 100px;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transform: translateX(100px);
	animation: 12s ease-out infinite food-anim;
}

header h1 .food-item.cookie { animation-delay: 0s; }
header h1 .food-item.burger { animation-delay: 3s; }
header h1 .food-item.fries  { animation-delay: 6s; }
header h1 .food-item.taco   { animation-delay: 9s; }

header h2 {
	margin: 0;
	font-family: monospace;
	font-size: 100px;
	font-weight: 100;
}

header h3 {
	font-size: 35px;
	font-weight: 300;
	margin: 0 0 36px 0;
	font-style: italic;
	font-family: 'Open Sans', Arial, sans-serif;
}

section {
	max-width: 1000px;
	padding: 30px;
	margin: 0 auto;
}

section h1 {
	font-weight: 600;
	font-size: 40px;
	color: #E63946;
}

section h2 {
	font-weight: 600;
	font-size: 25px;
	color: #E63946;
}

section h3 {
	font-weight: 400;
	font-size: 18px;
	color: #333;
}

section p.message {
	margin-bottom: 1.5rem;
  padding: 0.7rem;
  border: 2px solid #e0e0e0;
  border-radius: 6px;
	background-color: #fff;
}

p.bottom_button {
	text-align: center;
}

footer {
	background-color: #F1FAEE;
	margin-top: 25px;
	text-align: center;
	padding: 20px 0 30px;
	color: #333;
}

footer a, a:active, a:visited {
	color: #333;
}

footer p.credit {
	font-size: 0.75em;
}
